<title>SKV Application</title>
<header><div id="skvAnimDiv"><h1 id="S">S</h1><h1 id="else">KV Application</h1></div></header>
<div class="wrapper">
<input type="text"  placeholder="Введите e-mail"  name="loginInput" class="registrInputs" id="login" ng-model="logins" (keypress)="loginKeyDown()"/> <br /> <br />
<input type="password"  placeholder="Введите пароль" name="passwordInput" class="registrInputs" id="password" ng-model="logins" /> <br /> <br />
<button class="registrButtons" id="enterButton" (click)="authorization()">Авторизация</button>
<button class="registrButtons" id="registrButton">Регистрация</button>
</div>
<footer>Contact me:</footer>
<!-- <div id="div1"></div><div id="div2"></div><div id="div3"></div><div id="div4"></div><div id="div5"></div> -->